body{
  font-family: 'Open Sans', sans-serif;
}
.custom-navbar{
  padding: 10px 0px 10px 0px;
}

.navbar-nav{
  font-size: 1.2em;
  font-style: italic;
}
.instr{
  /*width: 15%;*/
  width: 18%;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  position: absolute;;
  /*top: 25%;*/
  top: 22%;
  padding-left: 1em;
  font-size: large;
 background: rgba(0,0,0,0.1);

}
/* #buttons{
  float: left;
  
} */



#widlabel{
  position:absolute;
  width: 20%;
  clear: left;
  text-align: left;
  left: 19%;
  top: 12%;
}
#breadth{
  width: 7%;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left: 26.5%;
  top: 10%;
}

#play{
  display: inline-block;
  background-color: aqua;
  width: 7%;
  color: white;
  padding: 10px 0px 10px 0px; /*Made the padding correct to bring the text in the center*/
  text-decoration: none;
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  margin: 0 auto;
  left:42%;
  top:18%;
  border-radius: 10px;
  display: table-cell;
}



#reset{
  width: 7%;
  border: none;
  color: white;
  padding: 10px 0px 10px 0px; /*Made the padding correct to bring the text in the center*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: deepskyblue;
  position: absolute;
  left:52%;
  top:17.5%;
  border-radius: 10px; /*This would make the corners of the button rounded*/
}

#angle{
  width: 7%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left: 48.2%;
  top:10%;
}
#range{
  width: 7%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left :69%;
  top: 10%;
  
}
#rangetextbox{
  width: 20%;
  position: absolute;
  left: 58%;
  top: 12%;
  clear: left;
  text-align:left;
}
#rangetextbox,#range{
  float: left;
}
#angletextbox{
  width: 20%;
  position:absolute;
  left:35%;
  top:12%;
  clear: left;
  text-align:left;
}
#angle,#angletextbox{
  float: left;
}




#update{
width: 15%;
 word-wrap: break-word;
 position: fixed;
 top:20%;
 font-size: large;
 background: rgba(0,0,0,0.1);
}
#lidar{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6 rem;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  position:absolute;
  top: 13%;
}
#angrange{
  width: 7%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left:89.5%;
  top:10%;

  
}
#angrangetextbox{
  position:absolute;
  left:78%;
  top:12%;
  width: 20%;
  clear: left;
  text-align:left;
}
#angrange,#angrangetextbox{
  float: left;
}

#contactus{
  position: absolute;
  text-align: center;
  top: 18%;
  left: 85%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color:  rgb(43,114,216);
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 20px;
}